<?xml version="1.0" encoding="UTF-8"?>
<Module>
<ModulePrefs 
    title="<%= Memori.config["app_title"]||'Memori' %>" 
    author="Tóth Dávid" 
    author_email="memori@hiperkocka.hu" 
    author_link="http://hiperkocka.hu/memori.html"
    author_photo="http://en.gravatar.com/userimage/871012/196197f7289b84b09737ff925714839d.jpeg"
    screenshot="<%= Memori.config["memori_url"] %>/images/memori-screenshot.png"
    description="Tanulj idegen nyelvű szavakat hatékonyan a Leitner módszer segítségével! A Memorival létrehozhatod, gyakorolhatod és megoszthatod leckéidet."
    thumbnail="<%= Memori.config["memori_url"] %>/images/memori-thumbnail.png"    
    title_url="">
  <Require feature="opensocial-0.8"/>
  <Require feature="dynamic-height"/>
  <Require feature="views" />
  <Link rel="event.removeapp" href="<%= Memori.config["memori_url"] %>/remove" />
  <Icon><%= Memori.config["memori_url"] %>/images/memori-icon.png</Icon>
</ModulePrefs>
<Content type="html" view="profile,canvas"><![CDATA[
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
      <script src="http://yui.yahooapis.com/3.0.0pr2/build/yui/yui-debug.js" type="text/javascript"></script> 
      <script type="text/javascript" src="/javascripts/sprocket.js"></script>
      <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.0.0pr2/build/cssreset/reset-min.css" />
      <link rel="stylesheet" type="text/css" href="/memori.css"/>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
      <title>Memori</title>
  </head>
  <body>
    <div id="memori-content" style="display:none;">
    </div>

    <script type="text/javascript">
      memori.baseUrl = '<%= Memori.config["memori_url"] %>';
      memori.start();
    </script>
  </body>
</html>
]]></Content>
</Module>
